<a href="https://colab.research.google.com/github/setyawanek/Data_Visualisasi/blob/main/movie_visualisasi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Visualisasi Movie Terbaik

In [2]:
# import library data visualisasi
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# read csv
df = pd.read_csv("/content/Highest Holywood Grossing Movies.csv")
df

     Unnamed: 0  ... License
0             0  ...   PG-13
1             1  ...   PG-13
2             2  ...   PG-13
3             3  ...     NaN
4             4  ...     NaN
..          ...  ...     ...
913         913  ...   PG-13
914         914  ...     NaN
915         915  ...   PG-13
916         916  ...       R
917         917  ...      PG

[918 rows x 11 columns]