<a href="https://colab.research.google.com/github/setyawanek/Data_Visualisasi/blob/main/movie_visualisasi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Visualisasi Movie Terbaik

In [63]:
# import library data visualisasi
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [70]:
# read csv
df = pd.read_csv("/content/Highest Holywood Grossing Movies.csv")
df.head()

   Unnamed: 0  ... License
0           0  ...   PG-13
1           1  ...   PG-13
2           2  ...   PG-13
3           3  ...     NaN
4           4  ...     NaN

[5 rows x 11 columns]

In [65]:
df.dtypes

Unnamed: 0                     int64
Title                         object
Movie Info                    object
Distributor                   object
Release Date                  object
Domestic Sales (in $)          int64
International Sales (in $)     int64
World Sales (in $)             int64
Genre                         object
Movie Runtime                 object
License                       object
dtype: object

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  918 non-null    int64
 1   Title                       918 non-null    object
 2   Movie Info                  918 non-null    object
 3   Distributor                 918 non-null    object
 4   Release Date                800 non-null    object
 5   Domestic Sales (in $)       918 non-null    int64
 6   International Sales (in $)  918 non-null    int64
 7   World Sales (in $)          918 non-null    int64
 8   Genre                       918 non-null    object
 9   Movie Runtime               918 non-null    object
 10  License                     744 non-null    object
dtypes: int64(4), object(7)
memory usage: 79.0+ KB

In [67]:
# rename kolom
df.rename({
    'Movie Info' : 'Movie_Info',
    'Release Date' : 'Release_Date',
    'Domestic Sales (in $)' : 'Domestic_Sales',
    'International Sales (in $)' : 'International_Sales',
    'World Sales (in $)' : 'World_Sales',
    'Movie Runtime' : 'Movie_Runtime'
},axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           918 non-null    int64
 1   Title                918 non-null    object
 2   Movie_Info           918 non-null    object
 3   Distributor          918 non-null    object
 4   Release_Date         800 non-null    object
 5   Domestic_Sales       918 non-null    int64
 6   International_Sales  918 non-null    int64
 7   World_Sales          918 non-null    int64
 8   Genre                918 non-null    object
 9   Movie_Runtime        918 non-null    object
 10  License              744 non-null    object
dtypes: int64(4), object(7)
memory usage: 79.0+ KB

In [68]:
# mengecek apakah data ada yang null value
df.isnull().sum()

Unnamed: 0               0
Title                    0
Movie_Info               0
Distributor              0
Release_Date           118
Domestic_Sales           0
International_Sales      0
World_Sales              0
Genre                    0
Movie_Runtime            0
License                174
dtype: int64

In [69]:
# memghapus kolom => Unnamed: 0 
df.drop('Unnamed: 0', axis=1, inplace=True)

# menghapus kolom Release_Date 
df.drop('Release_Date', axis=1, inplace=True)

# mengisi missing value pada kolom License dengan menggunakan modus
modus = df['License'].mode()[0]
df['License'] = df['License'].fillna(modus)

df.isnull().sum()

Title                  0
Movie_Info             0
Distributor            0
Domestic_Sales         0
International_Sales    0
World_Sales            0
Genre                  0
Movie_Runtime          0
License                0
dtype: int64